[submodule "lib/fcontrol"]
	path = lib/fcontrol
	url = https://github.com/munozyanez/fcontrol.git
[submodule "lib/i-plot"]
	path = lib/i-plot
	url = https://github.com/munozyanez/i-plot.git
[submodule "lib/CiA402Device"]
	path = lib/CiA402Device
	url = https://github.com/HUMASoft/CiA402Device.git
[submodule "lib/sensor-integration"]
	path = lib/sensor-integration
	url = https://github.com/HUMASoft/sensor-integration.git
